@import url(car-list-details-box.css);

.car-details-header {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-self: stretch;
}



.car-header {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-bottom: 20px;

}

/*Reserve button*/
.reserve-btn_container button {
    width: 50%;
}

@media screen and (max-width: 992px) {
.reserve-btn_container button {
    width: 100%;
}
}




.car-header h1 {
    color: var(--title-color);
    font-size: 60px;
}

.car-header h1 {
    animation: fadeIn 1s ease-in-out forwards; 
    opacity: 0;
}

.car-header-items {
    color: var(--accent-text-color);
    font-weight: bolder;
    font-size: 20px;

    animation: fadeIn 1.2s ease-in-out forwards; 
    opacity: 0;
}

.car-header-items .dot {
    background-color: var(--title-color);
}

.price {
    color: var(--accent-text-color);
    font-size: 30px;
    font-weight: bold;

    animation: fadeIn 1.3s ease-in-out forwards; 
    opacity: 0;
}



@media screen and (max-width: 600px) {
    .car-header h1 {
      font-size: 40px;
    }
    .price {
        font-size: 20px;
    }
}