.image_container {
    width: 30%;
    background-color: #ffffff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  h3 {
    font-size: 18px;
    color: #8A624A;
    margin-bottom: 10px;
  }
  
  .upload-box {
    width: 100%;
    background-color: #e0e0e0;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
  }

  .additional-images-section input,
  .upload-box input {
    background-color: #ffffff;
    padding: 10px;
    width: 100%;
    border-radius: 10px;
    border: 2px solid rgb(172, 172, 172);
  }

  .additional_images_input {
    display: flex;
    width: 100%;
    margin-bottom: 20px;
  }

  img#main-image-preview {
    width: 100%;
  }
  
  .upload-icon {
    width: 80px;
    height: auto;
    margin-bottom: 15px;
  }
  
  .browse-button {
    background-color: #8A624A;
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    border-radius: 6px;
    font-size: 14px;
    width: 100%;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .browse-button:hover {
    background-color: #5b3e2d;
  }
  
  .additional-images-section {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .thumbnails {
    display: grid;
    grid-template-columns: auto auto;
    gap: 10px;
    margin-bottom: 15px;
}
  
  .thumbnail {
    padding: 5px;
    background-color: #e0e0e0;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .thumbnail img {
    width: 100%;
    object-fit: cover;
    height: 100%;
  }