@import url(elements.css);
.section-flex-center-100 {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100dvh;
}

.section-flex-center-50 {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 50dvh;
}

.flex {
    display: flex;
}

/*flex-center*/
.flex-center {
    display: flex;
    justify-content: center;
}

.flex-al {
    display: flex;
    align-items: center;
}

.flex-center-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex-col {
    display: flex;
    flex-direction: column;
}

.flex-column-center {
    display:flex;
    flex-direction: column;
    align-items: center;
}
.flex-column-center-center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.flex-right {
    display: flex;
    justify-content: right;
}

/*height*/
.minheight100 {
    min-height: 100dvh;
}

.height100 {
    min-height: 100dvh;
}
.height90 {
    min-height: 90dvh;
}
.height70 {
    min-height: 70dvh;
}
.height60 {
    min-height: 60dvh;
}
.height50 {
    min-height: 50dvh;
}
.height40 {
    min-height: 40dvh;
}
.height30 {
    min-height: 30dvh;
}


/*gap*/
.gap50 {
    gap: 50px;
}
.gap40 {
    gap: 40px;
}
.gap30 {
    gap: 30px;
}
.gap20 {
    gap: 20px;
}
.gap10 {
    gap: 10px;
}
.gap5 {
    gap: 5px;
}

/*margins*/
.mb-5 {
    margin-bottom: 5px;
}

.mb-10 {
    margin-bottom: 10px;
}
.mb-15 {
    margin-bottom: 10px;
}
.mb-20 {
    margin-bottom: 20px;
}
.mt-5 {
    margin-bottom: 5px;
}
.mt-10 {
    margin-bottom: 10px;
}
.mt-15 {
    margin-bottom: 15px;
}
.mb-20 {
    margin-bottom: 20px;
}


/*Paddings*/

.p-5 {
    padding: 5px;
}
.p-10 {
    padding: 10px;
}
.p-15 {
    padding: 15px;
}
.p-20 {
    padding: 20px;
}

/*margins*/
.ml-10 { margin-left: 10px; }
.mr-10 { margin-right: 10px; }

.ml-20 { margin-left: 20px; }
.mr-20 { margin-right: 20px; }

.ml-30 { margin-left: 30px; }
.mr-30 { margin-right: 30px; }

.ml-40 { margin-left: 40px; }
.mr-40 { margin-right: 40px; }

.ml-50 { margin-left: 50px; }
.mr-50 { margin-right: 50px; }

.ml-60 { margin-left: 60px; }
.mr-60 { margin-right: 60px; }

.ml-70 { margin-left: 70px; }
.mr-70 { margin-right: 70px; }

.ml-80 { margin-left: 80px; }
.mr-80 { margin-right: 80px; }

.ml-90 { margin-left: 90px; }
.mr-90 { margin-right: 90px; }

.ml-100 { margin-left: 100px; }
.mr-100 { margin-right: 100px; }


.mt-10 { margin-top: 10px; }
.mb-10 { margin-bottom: 10px; }

.mt-20 { margin-top: 20px; }
.mb-20 { margin-bottom: 20px; }

.mt-30 { margin-top: 30px; }
.mb-30 { margin-bottom: 30px; }

.mt-40 { margin-top: 40px; }
.mb-40 { margin-bottom: 40px; }

.mt-50 { margin-top: 50px; }
.mb-50 { margin-bottom: 50px; }

.mt-60 { margin-top: 60px; }
.mb-60 { margin-bottom: 60px; }

.mt-70 { margin-top: 70px; }
.mb-70 { margin-bottom: 70px; }

.mt-80 { margin-top: 80px; }
.mb-80 { margin-bottom: 80px; }

.mt-90 { margin-top: 90px; }
.mb-90 { margin-bottom: 90px; }

.mt-100 { margin-top: 100px; }
.mb-100 { margin-bottom: 100px; }



/*structure*/
.structure {
    width: 80%;
}

.grid2{
    display: grid;
    grid-template-columns: auto auto;
    gap: 20px;
}


@media only screen and (max-width: 600px) {
    .structure {
      width: 100% !important;
      padding: 20px;
    }
  }
